<!-- Hero -->
<div class="common gray">
  <h2 class="common__title">Work</h2>
  <!-- /Hero -->
  <%# contents %>
    <section class="gray" id="js-trigger">
      <div class="common__size js-animation ">
        <div class="common">
          <h2 class="common__title element js-animation" id="js-trigger">WEB</h2>
          <div class="tile is-ancestor">
            <a class="jsx-89345332" href="/work/portfolio">
              <div class="tile tile__padding">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3"> <img src="https://portfolio.hudehisa.com/work_portfolio.jpg" alt="portfolio"> </figure>
                  </div>
                  <div class="card-content">
                    <div class="about__tags">
                      <p class="about__tag tag-code">コーディング</p>
                      <p class="about__tag tag-design">デザイン</p>
                    </div>
                    <div class="media">
                      <div class="media-left"> </div>
                      <div class="media-content">
                        <p class="media__title is-4">Portfolio</p>
                      </div>
                    </div>
                    <div class="content content__text">This is my portfolio site.You can see my web design and graphic design artwork here.</div>
                  </div>
                </div>
              </div>
            </a>
            <a class="jsx-89345332" href="/work/dds">
              <div class="tile tile__padding">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3"> <img src="https://portfolio.hudehisa.com/work_coding-school.jpg" alt="Coding School"> </figure>
                  </div>
                  <div class="card-content">
                    <div class="about__tags">
                      <p class="about__tag tag-code">コーディング</p>
                      <p class="about__tag tag-design">デザイン</p>
                    </div>
                    <div class="media">
                      <div class="media-left"> </div>
                      <div class="media-content">
                        <p class="media__title is-4">Coding School</p>
                      </div>
                    </div>
                    <div class="content content__text">This is my portfolio site.You can see my web design and graphic design artwork here.</div>
                  </div>
                </div>
              </div>
            </a>
            <a class="jsx-89345332" href="/work/photos">
              <div class="tile tile__padding">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3"> <img src="https://portfolio.hudehisa.com/work_massage-app.jpg" alt="Massage App"> </figure>
                  </div>
                  <div class="card-content">
                    <div class="about__tags">
                      <p class="about__tag tag-code">コーディング</p>
                      <p class="about__tag tag-design">デザイン</p>
                    </div>
                    <div class="media">
                      <div class="media-left"> </div>
                      <div class="media-content">
                        <p class="media__title is-4">Massage App</p>
                      </div>
                    </div>
                    <div class="content content__text">This is my portfolio site.You can see my web design and graphic design artwork here.</div>
                  </div>
                </div>
              </div>
            </a>
            <a href="http://kaorutamari.jp/home/" target="blank">
              <div class="tile tile__padding">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3"> <img src="https://portfolio.hudehisa.com/work_tamarisite.jpg" alt="Tamari Official Site"> </figure>
                  </div>
                  <div class="card-content">
                    <div class="about__tags">
                      <p class="about__tag tag-mtg">MTG</p>
                      <p class="about__tag tag-cms">CMS</p>
                    </div>
                    <div class="media">
                      <div class="media-left"> </div>
                      <div class="media-content">
                        <p class="media__title is-4">Tamari Official Site</p>
                      </div>
                    </div>
                    <div class="content content__text">The official website of the announcer. I manage the site, such as banners and coding here.<br>※ Open the new window</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="gray">
      <div class="common__size js-animation ">
        <div class="common">
          <h2 class="common__title element js-animation" id="js-trigger">Desigin</h2>
          <div class="tile is-ancestor">
            <a href="/work/church">
              <div class="tile tile__padding">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3"> <img src="https://portfolio.hudehisa.com/work_goto-pay-top.jpg" alt="Go to Pay App"> </figure>
                  </div>
                  <div class="card-content">
                    <div class="about__tags">
                      <p class="about__tag tag-psd">psd</p>
                      <p class="about__tag tag-design">デザイン</p>
                    </div>
                    <div class="media">
                      <div class="media-left"> </div>
                      <div class="media-content">
                        <p class="media__title is-4">Go to Pay App</p>
                      </div>
                    </div>
                    <div class="content content__text">This is the Payment app. I made icon and application design here.</div>
                  </div>
                </div>
              </div>
            </a>
            <a class="jsx-89345332" href="/work/banner">
              <div class="tile tile__padding">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3"> <img src="https://portfolio.hudehisa.com/work_banner.jpg" alt="Work Banner"> </figure>
                  </div>
                  <div class="card-content">
                    <div class="about__tags">
                      <p class="about__tag tag-psd">psd</p>
                      <p class="about__tag tag-design">デザイン</p>
                    </div>
                    <div class="media">
                      <div class="media-left"> </div>
                      <div class="media-content">
                        <p class="media__title is-4">Work Banner</p>
                      </div>
                    </div>
                    <div class="content content__text">This is a banner for content sites. I'm using Photoshop or Illustrator here.</div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
</div>
<%# /contents %>